In [6]:
# Import dependencies
import random
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import traceback
import gmaps

In [7]:
vacation_db = "data\WeatherPy_vacation.csv"

In [8]:
vacation_df = pd.read_csv(vacation_db)
vacation_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bengkulu,ID,88.72,scattered clouds,-3.80,102.27,Grage Hotel Bengkulu
1,Karia,NG,79.02,broken clouds,11.73,11.16,NaN
2,Hambantota,LK,89.60,few clouds,6.12,81.12,Bungalow 63
3,Geraldton,AU,75.00,broken clouds,-28.77,114.60,Broadwater Mariner Resort
4,Pindiga,NG,77.02,broken clouds,9.98,10.93,Accommodation Center
...,...,...,...,...,...,...,...
105,Kismayo,SO,83.55,overcast clouds,-0.36,42.55,Agan-Hotel
106,Tarut,SA,77.00,broken clouds,26.57,50.04,المرحوم سعيد الصديق ابو جميل
107,Buchanan,LR,78.80,overcast clouds,5.88,-10.05,Kamaneahn Hotel Inc
108,Warri,NG,77.49,overcast clouds,5.52,5.75,BON Hotel Delta
109,Carutapera,BR,78.91,scattered clouds,-1.20,-46.02,Lidera

In [9]:
is_warri = vacation_df["City"] == "Warri"

In [10]:
warri_df = vacation_df[is_warri]
warri_df

      City Country  Max Temp Current Description   Lat   Lng       Hotel Name
108  Warri      NG     77.49     overcast clouds  5.52  5.75  BON Hotel Delta

In [11]:
is_karia = vacation_df["City"] == "Karia"

In [12]:
karia_df = vacation_df[is_karia]
karia_df

    City Country  Max Temp Current Description    Lat    Lng Hotel Name
1  Karia      NG     79.02       broken clouds  11.73  11.16        NaN

In [13]:
is_pindiga = vacation_df["City"] == "Pindiga"

In [14]:
pindiga_df = vacation_df[is_pindiga]
pindiga_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Pindiga,NG,77.02,broken clouds,9.98,10.93,Accommodation Center

In [15]:
is_buchanan = vacation_df["City"] == "Buchanan"

In [16]:
buchanan_df = vacation_df[is_buchanan]
buchanan_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
107,Buchanan,LR,78.8,overcast clouds,5.88,-10.05,Kamaneahn Hotel Inc

In [19]:
import gmaps.datasets
from config import g_key
gmaps.configure(api_key=g_key)

In [20]:
warri_lat = warri_df["Lat"].values[0]
warri_lng = warri_df["Lng"].values[0]
warri_coords = warri_lat,warri_lng
warri_coords

(5.52, 5.75)

In [21]:
karia_lat = karia_df["Lat"].values[0]
karia_lng = karia_df["Lng"].values[0]
karia_coords = karia_lat,karia_lng
karia_coords

(11.73, 11.16)

In [22]:
pindiga_lat = pindiga_df["Lat"].values[0]
pindiga_lng = pindiga_df["Lng"].values[0]
pindiga_coords = pindiga_lat,pindiga_lng
pindiga_coords

(9.98, 10.93)

In [23]:
buchanan_lat = buchanan_df["Lat"].values[0]
buchanan_lng = buchanan_df["Lng"].values[0]
buchanan_coords = buchanan_lat,buchanan_lng
buchanan_coords

(5.88, -10.05)

In [24]:
fig = gmaps.figure()
pindiga_buchanan = gmaps.directions_layer(pindiga_coords,buchanan_coords,travel_mode = 'DRIVING')
fig.add_layer(pindiga_buchanan)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
merge_1 = pd.merge(karia_df,warri_df,how="outer")
merge_1

    City Country  Max Temp Current Description    Lat    Lng       Hotel Name
0  Karia      NG     79.02       broken clouds  11.73  11.16              NaN
1  Warri      NG     77.49     overcast clouds   5.52   5.75  BON Hotel Delta

In [26]:
merge_2 = pd.merge(merge_1,buchanan_df,how="outer")
merge_2

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Karia,NG,79.02,broken clouds,11.73,11.16,NaN
1,Warri,NG,77.49,overcast clouds,5.52,5.75,BON Hotel Delta
2,Buchanan,LR,78.80,overcast clouds,5.88,-10.05,Kamaneahn Hotel Inc

In [27]:
four_cities = pd.merge(merge_2, pindiga_df, how="outer")
four_cities

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Karia,NG,79.02,broken clouds,11.73,11.16,NaN
1,Warri,NG,77.49,overcast clouds,5.52,5.75,BON Hotel Delta
2,Buchanan,LR,78.80,overcast clouds,5.88,-10.05,Kamaneahn Hotel Inc
3,Pindiga,NG,77.02,broken clouds,9.98,10.93,Accommodation Center

In [28]:
locations = four_cities[["Lat", "Lng"]]
fig = gmaps.figure(center=(-10, 5.0), zoom_level=4)

marker_layer = gmaps.marker_layer(locations)

pindiga_buchanan = gmaps.directions_layer(pindiga_coords,buchanan_coords,travel_mode = 'DRIVING')
karia_warri = gmaps.directions_layer(karia_coords,warri_coords,travel_mode = 'DRIVING')
karia_pindiga = gmaps.directions_layer(karia_coords,pindiga_coords,travel_mode = 'DRIVING')
karia_buchanan = gmaps.directions_layer(karia_coords,buchanan_coords,travel_mode = 'DRIVING')

fig.add_layer(pindiga_buchanan)
fig.add_layer(karia_warri)
fig.add_layer(karia_pindiga)
fig.add_layer(karia_buchanan)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
## Add details to markers: Hotel, City, Country, Weather.
# Pop-Up Marker

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

locations = four_cities[["Lat", "Lng"]]

hotel_info = [info_box_template.format(**row) for index, row in four_cities.iterrows()]

fig = gmaps.figure(center=(-10, 5.0), zoom_level=3)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))